:root {
    --border: 1px solid black;
}

#grid {
    border: var(--border);
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: var(--border);
    box-sizing: border-box;
}

#settings {
    margin-block-end: 1rem;
}
