:root {
    --bg-main: #151315;
    --bg-container: #2b272b;
    --bg-inverted: #F7F0F0;
    --fg: #F7F0F0;
    --fg-inverted: #151315;
    --space: 1rem;
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-xl: 1.5rem;
    --border-style: solid;
    --border-width: 1px;
}

* {
    box-sizing: content-box;
    font-family: "Chivo Mono", monospace;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    justify-content: center;
    overflow: scroll;
}

#body {
    background: var(--bg-main);
    color: var(--fg);
    display: flex;
    height: 100vh;
    overflow: scroll;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--space) * 2);
    margin: auto auto;
    padding: calc(var(--space) * 2);
}

#info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space) * 1);
    justify-content: center;
    margin: 0 auto;
}

#settings {
    background: var(--bg-container);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: calc(var(--space) * 1);
    justify-content: center;
    padding: calc(var(--space) * 2);

    .setting {
        align-items: center;
        display: flex;
        gap: calc(var(--space) * 1);
    }
}

#slider-label {
    display: flex;
    flex-direction: row;
    gap: calc(var(--space) * 0.25);

    .slider-value {
        width: 2rem;
        text-align: center;
    }
}

#grid {
    border: var(--border-width) var(--border-style) var(--bg-container);
    border-radius: var(--border-radius-xl);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden !important;
    margin: 0 auto;

    .cell {
        border: var(--border-width) var(--border-style) var(--bg-container);
        box-sizing: border-box;
    }
}

.btn-primary {
    background: var(--bg-inverted);
    border: none;
    color: var(--fg-inverted);

    &:hover {
        background: color-mix(in srgb, var(--bg-inverted) 85%, transparent);
    }
}

.btn-secondary {
    background: transparent;
    border: var(--border-width) var(--border-style) var(--bg-inverted);
    color: var(--fg);

    &:hover {
        background: color-mix(in srgb, var(--bg-inverted) 15%, transparent);
    }
}

h1 {
    text-align: center;
}

button,
input {
    cursor: pointer;
}

button {
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
    padding: calc(var(--space) * 0.5);
}

input[type="color"] {
    --size: 2rem;
    background: none;
    border: none;
    border-radius: var(--border-radius-md);
    height: var(--size);
    padding-block: 0;
    padding-inline: 0;
    block-size: var(--size);
}
